@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Try Out The New Awesome Visualizer</h2>
    <p>The visulizer is now online.</p>
    <p><a class="btn btn-default" href="~/Visualizer/Index">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="~/Home/Index">Learn more &raquo;</a></p>
    </div>
</div>